<h1>詳細</h1>
<h2>タイトル</h2>
<p><%= @book.title %>
<h2>本文</h2>
<p><%= @book.body %></p>
<h2>画像</h2>
<%= attachment_image_tag @book, :image, :fill, 300, 300, format: 'jpeg' %>

<%= link_to "edit", edit_book_path(@book.id) %>
<%= link_to "delete", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
